


/*  ************* REGLAGES GENERALS ************ */
body
{
	font-family: 'Roboto';
}

img
{
	width: 100%;
}

h1, h2
{
	font-family: 'Playfair Display'!important;
	color: #ec8d04 !important;
}



/*  ************* HEADER ET BANNIERE ************ */


.banniere
{
position: relative;
height: 300px;
overflow: hidden;
background: url(images/tulipes.jpeg) no-repeat center;
background-size: cover;
}

.titre_banniere
{
position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.titre_banniere h1, .titre_banniere p
{
	font-family: 'Playfair Display';
	color: #ec8d04;
}

.logo_banniere
{
	width: 7%;
}


/*  ************* BLOCS INDEX ************ */
.titre_themes
{
	margin: 20px;
}

.blocs
{
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
}

.bloc_default
{
	width: 20%;
	height: 150px;
	margin: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;

}

.text_blocs
{
	font-size: 2.5em;
	font-family: 'Playfair Display';
	color: white;
}

.text_blocs:hover
{
	text-decoration: none;
	color: white;
}

.bloc_php
{
	background-color: #bdd1e9;
}

.bloc_bootstrap
{
	background-color: #ffc001;

}





/*  ************* FOOTER ************ */
.footer
{
	width: 100%;
	background-color: #a4bad0;
	color: white;
	text-align: center;
}

.footer p
{
	margin: 0px;
	padding: 15px;
}